APP_PORT=5000
APP_NAME='KCON'
ABLE_ORIGIN_REQUEST_FROM="http://localhost:3000"

DB_USER=admin
DB_PASSWORD=admin
DATABASE=kcon-db
DB_PORT=5222
LOCAL_PRISMA_HOST=localhost
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${LOCAL_PRISMA_HOST}:${DB_PORT}/${DATABASE}?schema=public"
JWT_TOKEN=<secret>
